header .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 22px 24px;
}

.logo-container-mobile-noct,
.logo-container-desktop,
.logo-container-desktop-noct {
    display: none;
}

.logo-container-mobile {
    body.dark & {
    display: none;
    }
}

.logo-container-mobile-noct {
    body.dark & {
    display: block;
    }
}

.textMenu {
    font-family: $fontMont;
    font-size: rem(15px);
    font-weight: $boldMont;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
    }
}

.hide-marker {
    display: none;
}