// Font Types

$fontMont : 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

// Font weight

$mediumMont: 500;
$boldMont: 700;
$regularRoboto: 400;
$blackRoboto: 900;
$mediumRoboto: 500;

// Colours

$white: #FFFFFF;
$aqua: #5ED7C6;
$purple: #572EE5;
$gray: #9CAFC3;
$black: #000000;
$lightGray: #CDD6E0;

// Dark Mode Colours

$dark: #37383C;
$darker: #222326;